:root {
  --header-background-color: #279989;
  --main-shoping-check-background-color: #44a080;
  --main-form-background-color: #fec844;
  --text-color: #fff;
}

::before,
::after,
* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main-form-background-color);
}

body {
  margin: 0;
}

header,
main section:first-child {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background-color);
  color: var(--text-color);
  align-items: center;
  padding: 0 2rem;
  min-height: 10rem;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  font-size: 1.7rem;
}

header h1 {
  font-size: 2.6rem;
}

main section:first-child.shoping-check {
  background-color: var(--main-shoping-check-background-color);
  min-height: 8rem;
  font-size: 2rem;
}

main section:not(:first-child) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: fit-content;
  background-color: var(--main-form-background-color);
  padding: 1rem 2em;
}

main section:not(:first-child) h2 {
  font-size: 2.4rem;
  padding: 0 0 1rem 0;
}

main section:not(:first-child) > form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form label {
  font-size: 1.7rem;
}

form input {
  font-size: 1.2rem;
  width: 50vw;
  padding: 1.3rem;
  border: none;
}

div span {
  font-size: 1.5rem;
  display: inline;
  align-items: center;
}

form button {
  min-width: 5rem;
  max-width: 9rem;
  padding: 1rem;
  font-size: 1.7rem;
  font-family: inherit;
  border: none;
  background-color: var(--header-background-color);
  color: var(--text-color);
  cursor: pointer;
}

.icon-minus::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f056";
}

.add-items-to-shoping {
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.icon-minus::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f056";
}

.add-items-to-shoping {
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}
